@using MeetingOrganizer.Models
@model IEnumerable<Meeting>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">    
    <center><h1>Welcome Home Page !</h1></center>
    <p class="lead"></p>    
</div>

<div class="row">
    <div class="col-md-4">
    </div>    
</div>